.bundle
.rvmrc
db/*.sqlite3
log/*.log
log/*.log.lck
log/*.log1
tmp/
config/database.yml
config/facebook.yml
coverage
.DS_Store
public/uploads/*
public/stylesheets/*.css
solr/data/*
solr/pids/*
.sass-cache/
backup/*
public/assets
exec/**
