// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24
$blueprint-grid-with: 40px
$blueprint-grid-margin: 10px
$radius: 10px

@import "blueprint"

body
  font-family: Tahoma, "Tahoma", sans-serif
  font-size: 13px
