= form_for([:admin, @department]) do |f|
  .field
    =f.label :nom
    %br
    =f.text_field :name
  .field
    =f.label :descripcio
    %br
    =f.text_field :description
  .actions
    =f.submit 'Crear/Modificar'
