%p
#notice
  =notice
%p
  %b Name:
  =@department.name

%p
  %b Description:
  = @department.description

=link_to 'Edit', edit_admin_department_path(@department)
=link_to 'Back', admin_departments_path
