%h1 Dades del departament:

%p
#notice
  =notice
%p
  %b Nom:
  =@department.name

%p
  %b Descripció:
  = @department.description

%br
=link_to 'Editar', edit_admin_department_path(@department)
%br
=link_to 'Tornar', admin_departments_path
