/*
Syntax error: Invalid CSS after "(true)": expected expression (e.g. 1px, bold), was ";"
        on line 8 of /Users/manfred/projects/my/cmsweb/app/stylesheets/ie.sass

3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
4: // @include blueprint-ie
5: 
6: //Recommended Blueprint configuration with scoping and semantic layout:
7: body.bp {
8:   @include blueprint-ie(true);
9:   // Note: Blueprint centers text to fix IE6 container centering.
10:   // This means all your texts will be centered under all version of IE by default.
11:   // If your container does not have the .container class, don't forget to restore
12:   // the correct behavior to your main container (but not the body tag!)
13:   // Example:

Backtrace:
/Users/manfred/projects/my/cmsweb/app/stylesheets/ie.sass:8
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/script/lexer.rb:193:in `expected!'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/script/parser.rb:458:in `assert_done'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/script/parser.rb:87:in `parse_mixin_include_arglist'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:788:in `parse_mixin_include'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:624:in `parse_directive'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:543:in `parse_line'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:448:in `build_tree'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:457:in `block in build_tree'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:450:in `each'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:450:in `build_tree'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:323:in `_to_tree'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/manfred/projects/my/cmsweb/exec/ruby/1.9.1/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/manfred/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/manfred/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/manfred/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(true)\": expected expression (e.g. 1px, bold), was \";\"\A         on line 8 of /Users/manfred/projects/my/cmsweb/app/stylesheets/ie.sass\A \A 3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:\A 4: // @include blueprint-ie\A 5: \A 6: //Recommended Blueprint configuration with scoping and semantic layout:\A 7: body.bp {\A 8:   @include blueprint-ie(true);\A 9:   // Note: Blueprint centers text to fix IE6 container centering.\A 10:   // This means all your texts will be centered under all version of IE by default.\A 11:   // If your container does not have the .container class, don't forget to restore\A 12:   // the correct behavior to your main container (but not the body tag!)\A 13:   // Example:"; }
