/* line 4, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_home.sass */
#sign_in {
  height: 900px;
  position: absolute;
}
/* line 4, ../../app/stylesheets/partials/_home.sass */
#sign_in h2 {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  margin-top: 10px;
  height: 20px;
  font-size: 15px;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sign_in h2 {
  overflow-x: hidden;
}
/* line 10, ../../app/stylesheets/partials/_home.sass */
#sign_in form#user_new.user_new {
  padding-left: 200px;
  margin-left: 300px;
  margin-top: 150px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px #9acd32;
  -webkit-box-shadow: 0px 0px 10px #9acd32;
  -o-box-shadow: 0px 0px 10px #9acd32;
  box-shadow: 0px 0px 10px #9acd32;
  background: #006400;
  padding: 20px;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sign_in form#user_new.user_new {
  overflow-x: hidden;
}
/* line 20, ../../app/stylesheets/partials/_home.sass */
#sign_in form#user_new.user_new input {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sign_in form#user_new.user_new input {
  overflow-x: hidden;
}
/* line 24, ../../app/stylesheets/partials/_home.sass */
#sign_in form#user_new.user_new label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  color: white;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sign_in form#user_new.user_new label {
  overflow-x: hidden;
}
/* line 27, ../../app/stylesheets/partials/_home.sass */
#sign_in form#user_new.user_new input[type=submit] {
  margin-left: 206px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  height: 20px;
  line-height: 10px;
  border-top: 1px solid silver;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sign_in form#user_new.user_new input[type=submit] {
  overflow-x: hidden;
}

/* line 15, ../../app/stylesheets/screen.sass */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 1000px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  -moz-box-shadow: 0px 0px 10px #9acd32;
  -webkit-box-shadow: 0px 0px 10px #9acd32;
  -o-box-shadow: 0px 0px 10px #9acd32;
  box-shadow: 0px 0px 10px #9acd32;
}
/* line 21, ../../app/stylesheets/screen.sass */
#wrapper #header {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  background: #9acd32;
  height: 50px;
}
/* line 25, ../../app/stylesheets/screen.sass */
#wrapper #header #user_nav {
  padding-left: 880px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  height: 25px;
  float: right;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header #user_nav {
  overflow-x: hidden;
}
/* line 30, ../../app/stylesheets/screen.sass */
#wrapper #header ul#menu {
  height: 25px;
  padding-left: 40px;
}
/* line 33, ../../app/stylesheets/screen.sass */
#wrapper #header ul#menu li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  text-align: center;
}
/* line 147, ../../exec/ruby/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #wrapper #header ul#menu li {
  overflow-x: hidden;
}
/* line 36, ../../app/stylesheets/screen.sass */
#wrapper #header ul#menu li.last {
  margin-right: 0;
}
/* line 38, ../../app/stylesheets/screen.sass */
#wrapper #header a {
  text-decoration: none;
  color: black;
}
/* line 41, ../../app/stylesheets/screen.sass */
#wrapper #header a:hover {
  background: #006400;
  color: silver;
  text-decoration: none;
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 47, ../../app/stylesheets/screen.sass */
#wrapper #content {
  background: silver;
  height: 900px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 52, ../../app/stylesheets/screen.sass */
#wrapper #footer {
  background: #9acd32;
  height: 50px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
