@import "blueprint"
@import "blueprint/reset"
@import "compass"

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
//@include blueprint

#wrapper
  +container
  height: 1000px
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 12px
  #header
    +border-top-radius($radius)
    background: $green
    height: 50px
    text-align: center
    ul#user_nav
      +prepend(1)
      +append(1)
      height: 25px 
      li
        +column(10)
        &.last
          +last
    ul#menu
      +prepend(1)
      +append(1)
      height: 25px
      li
        +column(6)
        text-align: center
        &.last
          +last
    a
      text-decoration: none
      color: $black
      &:hover
        background: $dark_green
        color: $silver
        text-decoration: none
        padding: 4px
        +border-radius(3px)
  #content
    background: $silver
    height: 900px
  #footer
    background: $green
    height: 50px 
    +border-bottom-radius($radius)

@import "partials/home"
