// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base"
@import "compass/css3/border-radius"

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
//@include blueprint

#wrapper
  +container
  height: 1000px
  #header
    +border-top-radius($radius)
    background: #9acd32
    height: 50px
    position: relative
    ul#user_nav
      height: 30px 
      position: absolute
      li
        +column(12)
        &:last-child
          +last
    ul#menu
      height: 30px
      position: absolute
      li
        +column(12)
        &:last-child
          +last
  #content
    background: #c0c0c0
    height: 910px
  #footer
    background: #9acd32
    height: 30px 
    +border-bottom-radius($radius)
    

@import "partials/home"
