%h1 Últimes Novetats

#webspaces
  %h3 Espais webs
  %ul.webs
  - @webspaces.each do |espai|
    #web{:id => espai.name}
      %li
        .espai= link_to espai.name, teacher_web_space_path(current_user, espai)
        .owner= " actualitzat per " + espai.teacher.name + " " + espai.teacher.surname + " " + espai.updated_at.to_s

#teachers
  %h3 Últims professors donats d'alta
  %ul.teachers
  - @teachers.each do |teacher|
    #teacher{:id => teacher.name}
      %li
        .name= link_to teacher.name, teacher_path(teacher)
        .date= " donat d'alta el " + teacher.created_at.to_s
