%h3 Directori de professors classificats per departaments:
= link_to 'Teachers directory', teachers_path

%h3 Llistat d'espais web que te el professor
%ul#teacher_webs
  - current_user.web_spaces.each do |web|
    %li= link_to(web.name, teacher_web_space_path(current_user,web))
