%h1 Directori d'espais web

%table#web_space
  %tr
    %th Títol
    %th Propietari
    %th Email

  - @web_spaces.each do |web_space|
    %tr
      %td= link_to web_space.name, teacher_web_space_path(@teacher, web_space)
      %td= link_to web_space.teacher.name, teacher_path(web_space.teacher)
      %td= web_space.teacher.email
