//%h1
//  %span#page_name.mercury-region{:data => {:type => "editable"}}= raw @web_space.name
//
//#page_content.mercury-region{:data => {:type => "editable"}}= raw @web_space.content
//
//%ul
//  %li= link_to "Portada", '#'
//
//- if @teacher == current_user
//  %p= link_to 'Editar', '/editor' + request.path, id: "edit_link", data: {save_url: mercury_update_teacher_web_space_path(@teacher, @web_space)}

//%ul
//  - @web_space.pages.each do |p|
//    %li
//      = link_to("#{p.name}", '/editor' + request.path, id: "edit_link", data: {save_url: mercury_update_teacher_web_space_page_path(@teacher, @web_space, p)})
