%h1 Gestionar els meus espais webs

%ul#my_web_spaces
  - @my_web_spaces.each do |web_space|
    %li
      = link_to(web_space.name, teacher_web_space_path(@teacher, web_space)) + " - "
      - if @teacher == current_user
        = link_to 'Eliminar', teacher_web_space_path(@teacher, web_space), :confirm => "Estàs segur?", :method => :delete

- if @teacher == current_user
  .new_space= link_to 'Crear Espai Web', new_teacher_web_space_path(@teacher)
