a
  text-decoration: none
#wrapper
  +container
  margin-top: 10px
  min-height: 1000px
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif
  font-size: 12px
  +single-box-shadow($dark_silver, $h-offset, $v-offset, $blur, $pread, $inset)
  #header
    +border-top-radius(3px)
    background: $green
    height: 50px
    ul#menu
      height: 20px
      margin-left: 25px
      padding-top: 2px
      li
        +column(4)
        text-align: center
        padding: 8px
      li.selected
        font-weight: bold
      a
        text-decoration: none
        +single-box-shadow($dark_green, $h-offset, $v-offset, $blur, $pread, $inset)
        +border-radius
        color: $black
        +column(4)
        padding: 8px
        &:hover
          background: $dark_green
          color: $silver
          text-decoration: none
    #search_bar
      margin-top: -7px
      margin-left: 45px
      float: right
      input#search
        background: $white image-url('lupa.png') left center no-repeat
        +border-radius(5px)
        font-size: 11px
        +column(4)
        height: 15px
        text-align: center
        .placeholder
          text-align: center

  #content
    +clearfix
    padding: 10px
    background: $silver
    height: 900px
    +prepend(1)
    +append(1)
    .flash
      position: absolute
      padding: 10px
      background: $pale_yellow
      +box-shadow($shadows 0 0 5px)
      +border-radius
      border: 2px solid $white
      z-index: 9000
      width: 300px
      text-align: center
      left: 50%
      margin-left: -150px
    h1
      margin-top: 10px
      margin-bottom: 30px
      font-size: 16px
      font-weight: bold
  #footer
    background: $green
    height: 50px
    +border-bottom-radius(3px)
    ul
      height: 20px
      padding: 14px
      li.current
        font-weight: bold
      li
        +column(4)
        padding: 5px
        text-align: center
      li.edit
        +column(3)
        padding: 5px
        text-align: center
      li.out
        padding: 5px
        +column(3)
        text-align: center
    a
      text-decoration: none
      color: $black
      &:hover
        background: $dark_green
        color: $silver
        text-decoration: none
        padding: 5px
        +border-radius(3px)

