a
  text-decoration: none
#wrapper
  +container
  margin-top: 10px
  min-height: 1000px
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 12px
  +single-box-shadow($dark_silver, $h-offset, $v-offset, $blur, $pread, $inset)
  #header
    +border-top-radius(3px)
    background: $green
    height: 50px
    ul#menu
      height: 20px
      margin-left: 25px
      padding: 10px
      li
        +single-box-shadow($black, $h-offset, $v-offset, $blur, $pread, $inset)
        +column(4)
        padding: 5px
        text-align: center
      li.last
        +column(5)
        padding: 3px
        #search_bar
          float: right
          input#search
            +border-radius(5px)
            font-size: 11px
            +column(4)
            height: 13px
            text-align: center
    a
      text-decoration: none
      color: $black
      &:hover
        padding: 3px
        background: $dark_green
        color: $silver
        text-decoration: none
        +border-radius(3px)

  #content
    +clearfix
    padding: 10px
    background: $silver
    height: 900px
    +prepend(1)
    +append(1)
    .flash
      position: absolute
      padding: 10px
      background: $pale_yellow
      +box-shadow($shadows 0 0 5px)
      +border-radius
      border: 2px solid $white
      z-index: 9000
      width: 300px
      text-align: center
      left: 50%
      margin-left: -150px
    h1
      margin-top: 10px
      margin-bottom: 30px
      font-size: 16px
      font-weight: bold
  #footer
    background: $green
    height: 50px
    +border-bottom-radius(3px)
    ul
      height: 20px
      padding: 15px
      li
        +column(4)
        text-align: center
      li.edit
        +column(3)
        text-align: center
      li.out
        +column(3)
        text-align: center
    a
      text-decoration: none
      color: $black
      &:hover
        background: $dark_green
        color: $silver
        text-decoration: none
        +border-radius(3px)

