#wrapper
  margin-top: 10px
  +container
  height: 1000px
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 12px
  +single-box-shadow($green, $h-offset, $v-offset, $blur, $pread, $inset)
  #header
    +border-top-radius(3px)
    background: $green
    height: 50px
    ul#user_nav
      padding-top: 5px
      height: 20px 
      +prepend(17)
      float: right 
      li
        +column(3)
        &.last
          +last
    ul#menu
      height: 25px
      +prepend(1)
      li
        +column(5)
        text-align: center
        &.last
          +last
    a
      text-decoration: none
      color: $black
      &:hover
        background: $dark_green
        color: $silver
        text-decoration: none
        padding: 4px
        +border-radius(3px)
  #content
    background: $silver
    height: 900px
    +prepend(1)
    +append(1)
  #footer
    background: $green
    height: 50px 
    +border-bottom-radius(3px)
