#departments_admin
  td
    padding: 5px

  table
    th.title
      margin-bottom: 20px
      font-weight: bold

#departments
  .department
    +column(10)
    background: red
  ul
    .image
      +column(3)
    dl
      +column(19,true)
