h3
  font-weight: bold
  margin-bottom: 10px
  +column(11)

#webspaces
  float: left
  +column(11)
  .avatar
    img
      width: 20px
      height: 20px
      float: left
  li
    margin-bottom: 10px
    float: left
    +column(5)

#teachers
  float: left
  +column(11,last)
  .avatar
    img
      width: 20px
      height: 20px
  li
    margin-bottom: 10px
    +column(5)
    float: left

#search_bar
  h3
    margin-top: 15px
  img
    height: 30px
    width: 30px
