#admin_table
  table
    margin-bottom: 20px
  th
    padding-right: 20px
  tr
    font-weight: bold

#edit_teacher
  div.field
    font-weight: bold
    margin-bottom: 5px

#departments
  h2
    border-top: 2px solid $letters
  ul
    display: inline-block
    .avatar
      +column(2)
      img
        margin-top: 3px
        height: 70px
        width: 70px
    li
      +column(5)
      float: left
      .name
        font-weight: bold
      .email
        font-style: italic
      .spaces
        font-style: italic
