#new_web_space
  text-align: center
  input
    width: 350px
  textarea
    margin-top: 10px
    width: 350px
  input[type="submit"]
    width: 75px
  .actions
    width: 350px
    margin-left: 430px
    margin-top: 10px

ul#my_web_spaces
  margin-left: 25px
  li
    margin-top: 5px
.new_space
  margin-top: 10px
  margin-left: 25px
