#new_web_space
  .name
    font-weight: bold
    label
      font-weight: bold
      margin-bottom: 20px
    h2
      margin-bottom: 25px
    input
      width: 275px
  .actions
    input[type="submit"]
      margin-left: 200px
      width: 75px
      height: 15px
      padding: 5px
      margin-top: 10px

ul#my_web_spaces
  li
    margin-bottom: 5px
.new_space
  margin-top: 10px

.mercury-region
  height: 820px
  overflow: scroll !important
